@import "../../Colors.scss";

.Header {
    $header-width: 100%;
    $header-height: 420px;
    display: flex;
    flex-direction: column;
    width: $header-width;
    min-height: $header-height;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(#392033 -20%, #ff8967 60%);
    box-shadow: inset black 0 -80px 38px -100px;

    .CelestialBody {
        width: 100px;
        height: 100px;
        background-image: linear-gradient(#FF382B, #ffffff00 80%);
        border-radius: 50%;
        margin-top: auto;
        margin-bottom: -30px;
        flex-shrink: 0;
    }

    h1 {
        font-style: italic;
        font-size: 2.5em;
        color: #777;

        margin: 0;
        padding: 4px 8px;
        background-image: linear-gradient(#ffffff88, #ffffff88);
        background-position: bottom;
        background-size: auto 0.5em;
        background-repeat: no-repeat;
    }

    h4 {
        font-style: normal;
        font-size: 1.2em;
        color: #777;

        text-align: center;
        margin: 22px 5px 60px 5px;
        padding: 4px 8px;
        background-image: linear-gradient(#ffffff88, #ffffff88);
        // background-position: bottom;
        // background-size: auto 0.5em;
        background-repeat: no-repeat;
    }

    // @mixin fade-style {
    //     content: "";
    //     position: absolute;
    //     z-index: 1;
    //     pointer-events   : none;
    //     background-image : linear-gradient(to bottom,
    //                         rgba(255,255,255, 0),
    //                         $background 90%);
    //     width    : $header-height;
    //     height   : $fade-height;
    // }

    // $fade-height: 20px;
    // &::before {
    //     @include fade-style();

    //     transform: rotate(-90deg)
    //             translateY($header-width / 2 - $fade-height / 2);
    // }

    // &::after {
    //     @include fade-style();

    //     transform: rotate(90deg)
    //             translateY($header-width / 2 - $fade-height / 2);
    // }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
        min-height: 100%;

        & .CelestialBody {
            margin-top: 0;
        }

        & h1 {
            font-size: 2em;
        }

        & h4 {
            font-size: 1em;
            margin-bottom: 30px;

            &::after {
                content: "⬇";
                color: #ffffff88;
                font-size: 1.2em;
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                margin-bottom: 20px;
            }
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }
}