@mixin PointSizing($width, $height) {
    width: $width;
    height: 0;
    padding-top: $height;
    margin-left: ($width % 100) / -2;
}

.Timeline {
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    
    width: 200px;
    height: 500px;

    .Line {
        position: absolute;
        top: 0;
        width: 20%;
        height: 0;
        padding-bottom: 240%;
        background-image: linear-gradient(rgba(0, 0, 0, 0), #333333aa);
        border-radius: 20px;
        
        .Point {
            transition: 0.3s ease;
            @include PointSizing(120%, 108%);
            position: absolute;
            bottom: 0;
            z-index: 999;
            background-image: linear-gradient(rgb(68, 68, 68), black);
            background-size: auto 150%;
            border-radius: 50%;
            box-shadow: 0px 16px 12px 2px rgba(0, 0, 0, 0.5);

            &:hover {
                background-position-y: 50%;
                @include PointSizing(120%, 120%);
                cursor: pointer;
            }
        }

        .Point:nth-child(1) {
            margin-bottom: 220%;
        }
        .Point:nth-child(2) {
            margin-bottom: 480%;
        }
        .Point:nth-child(3) {
            margin-bottom: 650%;
        }
    }
}
