@mixin PointSizing($width, $height) {
    width: $width;
    padding-top: $height;
    margin-left: ($width % 100) / -2;
}

.Timeline {
    $timelineHeight: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
    
    width: 60vw;
    height: $timelineHeight;

    & * {
        transition: 0.2s ease;
    }

    .Line {
        $height: 700px;
        position: absolute;
        top: 40px;
        width: 40px;
        height: 0;
        padding-bottom: $height;
        background-image: linear-gradient(rgba(0, 0, 0, 0), #333333aa);
        border-radius: 20px 20px 0 0;
        
        .Point {
            @include PointSizing(120%, 108%);
            position: absolute;
            height: 0;
            bottom: 0;
            z-index: 999;
            background-image: linear-gradient(rgb(68, 68, 68), black);
            background-size: auto 150%;
            border-radius: 50%;
            box-shadow: 0px 16px 12px 2px rgba(0, 0, 0, 0.5);

            &:hover {
                background-position-y: 50%;
                @include PointSizing(120%, 120%);
                cursor: pointer;

                .Showcase {
                    transform: translateY(-2px);
                    box-shadow: 0px 10px 28px 0px rgba(0, 0, 0, 0.35);
                    cursor: default;
                }
            }

            .Showcase {
                box-shadow: 0px 10px 28px 0px rgba(0, 0, 0, 0.25);
            }
        }
        .Point:nth-child(1) {
            margin-bottom: 420%;

            .Showcase {
                margin-left: 4.2em;
                margin-bottom: -148px;
                width: fit-content;
                width: 500px;
                height: 320px;
            }
        }
        .Point:nth-child(2) {
            margin-bottom: 1110%;

            .Showcase {
                margin-left: -33.4em;
                margin-bottom: -140px;
                width: 500px;
                height: 320px;

                // margin-left: -19em;
                // margin-bottom: -20px;
                // height: 80px;
            }
        }
        .Point:nth-child(3) {
            margin-bottom: 1280%;

            .Showcase {
                margin-left: 4.2em;
                margin-bottom: -132px;
                width: fit-content;
                width: 500px;
                height: 320px;

                // margin-left: 4.2em;
                // margin-bottom: -20px;    MIGHT KEEP
                // width: fit-content;
                // width: 296px;
                // height: 80px;
            }
        }
    }
}
