// https://coolors.co/00072d-001c55-0a2472-0e6ba8-a6e1fa
// 

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "Colors.scss";

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  background-color: $background;
  overflow-x: hidden;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
}